<div class="our-menu">
    <div>
        <h4>Our Menu</h4>
    </div>
</div>
<div class="row row-cols-1 accordion" id="accordionPanelsStayOpenExample">

    <div class="category-list col">
        <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne-starts" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne-starts">
                    Starts
                </button>
            </h5>
            <div id="panelsStayOpen-collapseOne-starts" class="accordion-collapse collapse show">
                <div class="accordion-body row row-cols-1" *ngIf="!mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">Non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-body row row-cols-2" *ngIf="mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">Non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-list col">
        <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo-south-indian" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo-south-indian">
                    South Indian
                </button>
            </h5>
            <div id="panelsStayOpen-collapseTwo-south-indian" class="accordion-collapse collapse">
                <div class="accordion-body row row-cols-1" *ngIf="!mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-body row row-cols-2" *ngIf="mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-list col">
        <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree-north-indian" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree-north-indian">
                    North Indian
                </button>
            </h5>
            <div id="panelsStayOpen-collapseThree-north-indian" class="accordion-collapse collapse">
                <div class="accordion-body row row-cols-1" *ngIf="!mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-body row row-cols-2" *ngIf="mobileView">
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img1.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 1</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 20g <br>
                                        calorie: 20g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img2.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 2</h6>
                                        <p style="color: rgb(40, 143, 12);">Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 40g <br>
                                        calorie: 40g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-list col">
                        <div class="col item-img pos-center-flex">
                            <img src="../../assets/imgs/img3.jpg" alt="img">
                        </div>
                        <br>
                        <div class="col item-details">
                            <div class="row">
                                <div class="col-6 pos-center-flex">
                                    <div>
                                        <h6>Dish Name 3</h6>
                                        <p style="color: rgb(255, 0, 0);">non-Veg</p>
                                    </div>
                                </div>
                                <div class="col-6 pos-center-flex">
                                    <p>
                                        protein: 60g <br>
                                        calorie: 60g <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col add-item">
                            <div class="row">
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-primary">
                                        <h3>+</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <button class="btn btn-secondary">
                                        <h3>-</h3>
                                    </button>
                                </div>
                                <div class="col-4 pos-center-flex">
                                    <p>quantity: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>